body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; /*центровка сайта по середине*/
}
.nav {
    display: flex; /*расположить элементы в строку*/
    justify-content: center; /*расположить элементы в центре*/
     list-style-type: none; /*убрать все точки */
     padding: 4px 0;
}
.nav li {
    margin-left: 15px; /*сделать отступ с лево */
    margin-right: 15px; /*сделать отступ с право */
    font-size: 12px;
}
.nav li a {
    text-decoration: none;
    color: #333333;
}
.header {
    background-color: #fff;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: 10px 0;
  
}
.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700px; /*жирность текста*/
    display: flex; /* создаёт блочные элементы в строку*/
    align-items: center; /*центровка*/
    margin-right: 10px;
}
.logo-image {
    display: block; /*создаёт блок*/
    width: 80px;
    height: 80px;
    background-image: url("../svg/logo.svg");
}
.header-info span {
    font-size: 16px;
}
.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: #66C05D 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 10px 15px;
    margin-left: 20px;
    transition: 1s ease; /*анимация при наведение*/
     cursor: pointer;    /*-это рука при наведение (нежно прописывать только на кнопки btn, в теги а стили есть )*/
}
.header-info button:hover{
    background-color:#66C05D;
}
.header-bottom {
    padding: 15px 0;
}
.header-bottom.nav {
    font-size: 16px;
    margin: 0;
}
hr {
    border: none;
    background-color:#EFEFEF;
    height: 1px;
}
.banner {
    background-image: url("../images/kreslo-2.png");
    background-repeat: no-repeat; /*no-repeat: Устанавливает одно фоновое изображение в элементе без его повторений,*/
    background-size: cover; /*Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    background-position: center center; /*центрует картинку по вертикале и горизонтали*/
    padding-top: 150px; /*отступ с верху*/
    padding-bottom: 150px; /*отступ с низу*/
    color: #fff; /*цвет текста*/
}
.title {
    font-size: 48px;
    font-weight: 700; /*жирность шрифта*/
}
.banner p {
    margin-bottom: 50px;
    max-width: 315px; /*максимальное значение блока*/
}
.btn {
    color: #fff; /*цвет текста*/
    text-decoration: none; /*убирает подчеркивание кнопки*/
    border-radius: 20px;
    border: #fff 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 10px 35px;
    transition: 1s ease; /*анимация при наведение*/
}
.btn:hover {
    background-color: #fff; /*цвет блока*/
    color: #333333; /*цвет текста*/
}
.bg-white {
    background-color: #fff; /*цвет блока*/    
}
/*GRID верстание*/
.grid {
    display:grid; /*display:grid- работает только с разметкой колонок*/
    grid-template-columns:repeat(4,1fr); /* (1fr 1fr 1fr 1fr можно написать)создаём 4 блока(солонки)*/
}
.grid-item-title {
    grid-column: 1/4; /*1-начало 4-конец (по горизонтали)*/
    grid-row: 1/2;    /*1-начало 2-конец (по вертикале)*/
}
.grid-item-img {
    grid-column: 4/5; /*4-начало 5-конец (по горизонтали)*/
    grid-row: 1/2;    /*1-начало 2-конец (по вертикале)*/
}
