body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; /*центровка сайта по середине*/
}
.nav {
    display: flex; /*расположить элементы в строку*/
    justify-content: center; /*расположить элементы в центре*/
     list-style-type: none; /*убрать все точки */
     padding-left: 0px; /*убрать отступ с лево */
}
.nav li {
    margin-left: 10px; /*сделать отступ с лево */
    margin-right: 10px; /*сделать отступ с право */
}
.nav li a {
    text-decoration: none;
    color: #333333;
}
.header {
    background-color: #fff;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: 10px 0;
  
}
.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700px; /*жирность текста*/
}
.header-info span {
    font-size: 16px;
}
.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: #66C05D 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 10px 15px;
    margin-left: 20px;
}
.header-bottom.nav {
    font-size: 16px;
}
