body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; /*центровка сайта по середине*/
}
.nav {
    display: flex; /*расположить элементы в строку*/
    justify-content: center; /*расположить элементы в центре*/
     list-style-type: none; /*убрать все точки */
     padding: 4px 0;
}
.nav li {
    margin-left: 15px; /*сделать отступ с лево */
    margin-right: 15px; /*сделать отступ с право */
    font-size: 12px;
}
.nav li a {
    text-decoration: none;
    color: #333333;
}
.header {
    background-color: #fff;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: 10px 0;
  
}
.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700px; /*жирность текста*/
    display: flex; /* создаёт блочные элементы в строку*/
    align-items: center; /*центровка*/
    margin-right: 10px;
}
.logo-image {
    display: block; /*создаёт блок*/
    width: 80px;
    height: 80px;
    background-image: url("../svg/logo.svg");
}
.header-info span {
    font-size: 16px;
}
.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: #66C05D 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 10px 15px;
    margin-left: 20px;
    transition: 1s ease; /*анимация при наведение*/
     cursor: pointer;    /*-это рука при наведение (нежно прописывать только на кнопки btn, в теги а стили есть )*/
}
.header-info button:hover{
    background-color:#66C05D;
}
.header-bottom {
    padding: 15px 0;
}
.header-bottom.nav {
    font-size: 16px;
    margin: 0;
}
hr {
    border: none;
    background-color:#EFEFEF;
    height: 1px;
}
.banner {
    background-image: url("../images/kreslo-2.png");
    background-repeat: no-repeat; /*no-repeat: Устанавливает одно фоновое изображение в элементе без его повторений,*/
    background-size: cover; /*Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    background-position: center center; /*центрует картинку по вертикале и горизонтали*/
    padding-top: 150px; /*отступ с верху*/
    padding-bottom: 150px; /*отступ с низу*/
    color: #fff; /*цвет текста*/
}
.title {
    font-size: 48px;
    font-weight: 700; /*жирность шрифта*/
}
.title-h2 {
    font-size: 24px;
    font-weight: 700;
}
.banner p {
    margin-bottom: 50px;
    max-width: 315px; /*максимальное значение блока*/
}
.btn {
    color: #fff; /*цвет текста*/
    text-decoration: none; /*убирает подчеркивание кнопки*/
    border-radius: 20px;
    border: #fff 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 9px 35px;
    transition: 1s ease; /*анимация при наведение*/
}
.btn:hover {
    background-color: #fff; /*цвет блока*/
    color: #333333; /*цвет текста*/
}
.bg-white {
    background-color: #fff; /*цвет блока*/    
}
.bg-green {
    background-color: #66C05D; /*цвет фон*/
    color: #fff; /*цвет текста*/
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*расположить блок по центру (flex)*/
}
.bg-green-item {
    flex: 0 0 60%;
}
.bg-green-img {
    flex: -1 0 40%;
    text-align: center;
}
.bg-green h3 {
    font-size: 18px;
    font-weight:700;
    margin-top: 0;
}
.bg-green input {
    font-size:14px;
    border: #fff 1px solid;
    border-radius: 20px;
    padding: 10px 15px;
}
.bg-green .btn {
    display: block; /* создаёт отступ между текстом и ссылкой */
    text-align: center; /*текст по центру*/
    max-width: 113px; /*максимальная ширина*/
}
.catalog {
    padding-top: 100px;
}
/*GRID верстание*/
.grid {
    display:grid; /*display:grid- работает только с разметкой ячеек*/
    grid-template-columns:repeat(4,1fr); /* (1fr 1fr 1fr 1fr можно написать)создаём 4 блока(колонки)*/
    grid-gap:0 30px; /*расстояние между блоками в (grid)*/
}
.grid-item-title {
    grid-column: 1/4; /*1-начало 4-конец (по горизонтали)*/
    grid-row: 1/2;    /*1-начало 2-конец (по вертикале)*/
}
.grid-item-img {
    grid-column: 4/5; /*4-начало 5-конец (по горизонтали)*/
    grid-row: 1/2;    /*1-начало 2-конец (по вертикале)*/
    text-align: center; /*текст по центру (или картинку)*/
}
.grid-item-left {
    grid-column: 1/3; /*1-начало 3-конец (по горизонтали)*/
    grid-row: 3/4;    /*3-начало 4-конец (по вертикале)*/
    margin-top: 100px;
}
.grid-item-right {
    grid-column: 3/5; /*3-начало 5-конец (по горизонтали)*/
    grid-row: 3/4;    /*3-начало 4-конец (по вертикале)*/
    margin-top: 100px;
}
.grid-item-catalog {
    text-align: center; /*текст по центру*/
    padding: 15px;
}
.grid-item-catalog .bg-white {
    padding:15px 30px;
}
.grid-price {    
    font-size: 21px;
    font-weight: 500;   
}
.grid-btn {
    border-radius: 20px;
    border: #66C05D 2px solid;
    background-color:#66C05D; /*цвет фон.*/
    color: #fff; /*цвет текста*/
    padding: 10px 40px;
    text-decoration: none;
    transition: 1s ease; /*анимация при наведение*/
    cursor: pointer;    /*-это рука при наведение (нежно прописывать только на кнопки btn, в теги а стили есть )*/
}
.footer-top {
    display: flex;
    justify-content: space-between; /*растянуть блоки по краям*/
    align-items: center;
}
.footer-info span {
    font-size: 16px;
    margin-left: 20px;
}
.footer-info button {
    font-size: 14px;
    border-radius: 20px;
    border: #66C05D 2px solid;
    background-color: transparent; /*transparent Устанавливает прозрачный фон.*/
    padding: 10px 15px;
    margin-left: 20px;
    transition: 1s ease; /*анимация при наведение*/
     cursor: pointer;    /*-это рука при наведение (нежно прописывать только на кнопки btn, в теги а стили есть )*/
}
.footer-info button:hover{ 
    background-color:#66C05D; /*анимация при наведения курсора*/
}
.social {
    display: flex;
    align-items: center; /*текст по центру*/
    list-style-type: none; /*убирает все точки в элементе li */
    padding-left: 0px;
}
.social-item {
    margin-right: 20px;
}
.social-link {
    display: block; /* создаёт блок */
    width: 45px; /*размер блока (ширина) */
    height: 45px; /* размер блока (высота) */
    border: #66C05D 2px solid;
    border-radius: 100%; /*создаёт круг*/
    background-repeat: no-repeat; /*для работы с картинками (для всех,чтобы картинки не повторялись)*/
    background-position: center; /*отцентровать изображение по центру */
}
.social-youtube {
    background-image: url("../svg/youtube-logo.svg");
}
.social-vk {
    background-image: url("../svg/vk-logo.svg");
}
.social-fb {
    background-image: url("../svg/facebook-logo.svg");
}
.social-instagram {
    background-image: url("../svg/instagram-logo.svg");
}
.footer-bottem {
    display: flex;
    justify-content: space-between;
    color:#828282;
    padding: 15px 0px;
}
.footer-bottem p {
    margin: 0;
}
.footer-bottem a {
    color:#828282;
    text-decoration: none; 
}
